@font-face {
  font-family: "iconfont"; /* Project id 4431806 */
  src: url('iconfont.woff2?t=1706986985997') format('woff2'),
       url('iconfont.woff?t=1706986985997') format('woff'),
       url('iconfont.ttf?t=1706986985997') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shezhi:before {
  content: "\e60f";
}

.icon-keai:before {
  content: "\e616";
}

.icon-luyin:before {
  content: "\e640";
}

.icon-paihangbang:before {
  content: "\e647";
}

.icon-github:before {
  content: "\e601";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-gerenzhongxin:before {
  content: "\e62f";
}

.icon-tuichu:before {
  content: "\e630";
}

.icon-shengyinluzhi:before {
  content: "\e674";
}

.icon-videocamera:before {
  content: "\e625";
}

.icon-users:before {
  content: "\e626";
}

.icon-message-dots:before {
  content: "\e629";
}

.icon-sun:before {
  content: "\e62d";
}

.icon-thumbs-down:before {
  content: "\e62e";
}

.icon-grid:before {
  content: "\e632";
}

.icon-plus:before {
  content: "\e633";
}

.icon-play:before {
  content: "\e634";
}

.icon-thumbs-up:before {
  content: "\e639";
}

.icon-a-ziyuan547ldpi:before {
  content: "\e610";
}

.icon-a-ziyuan551ldpi:before {
  content: "\e611";
}

.icon-a-ziyuan568ldpi:before {
  content: "\e612";
}

.icon-zhifeiji:before {
  content: "\e600";
}

